# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables (ignore all .env files)
.env
.env.*
!.env.example   # sadece örnek dosya tutulabilir (opsiyonel)

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
